body {
    padding: 50px !important;
}
h1 {
    font-size: 28px;
    font-family: 'BenchNine', sans-serif;
    position: relative;
    left: calc(50% - 65px);
}
h2 {
    font-family: 'BenchNine', sans-serif;
}
input {
    position: relative;
    left: calc(50% - 130px);
    display: block;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'BenchNine', sans-serif;
    text-align:center;
    padding: 25px;
    border: none;
    background-color:azure;
}
input:focus {
    outline: none;
    background-color: yellow;
}
.location {
    position: relative;
    text-align: center;
}
.calm {
    color:aqua;
}
